* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}
/* Header */
header {
    background: #106900;
    width: 100%;
    height: 8rem;
    color: white;
    display: flex;
    align-items: center;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

/* Container */
#container {
    padding: 5rem;
    height: 45rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container div {
    height: 50%;
    width: 20%;
    border: solid #106900 1px;
}

/* Footer: */
footer {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
}

#colorYellow, #colorGreen, #colorBlue, #colorBrown {
    width: 25%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#colorGreen, #colorBlue, #colorBrown {
    color: white;
}

#colorYellow {
    background: #E0D42B;
}

#colorGreen {
    background: #0B2E13;
}

#colorBlue {
    background: #16193D;
}

#colorBrown {
    background: #69471E;
}